*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
:root{
    --primary-color:rgb(46, 45, 45);
    --secundary-color:rgb(237, 161, 50);
}
body{
    max-width: 125em;
    width: 100%;
    background-color: black;
    margin: auto;
}
.header_logo_navegacao_geral{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    background-color: black;
    padding-top: 1em;
    z-index: 2;
}
.header_logo{
    text-align: center;
    font-size: 2.3em;
    color: white;
    border: solid 1px black;
}
 span{
    color:  #b22d30;
}
.navegacao_geral{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style-type: none;
}
.nav_icones{
    padding: 1em;
    border-bottom: 1px solid rgb(45, 45, 45);
    background-color: black;
    transition-property: background-color;
    transition-duration: .2s;
}
.nav_icones:hover{
    background-color: var(--primary-color);
}
.link_nav{
    padding: .5em;
    width: 100%;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}
@media screen and (min-width:75em){
    .header_logo_navegacao_geral{
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        padding: 2em 8em;
        position: sticky;
        top: .1px;
    } 
    .navegacao_geral{
        flex-direction: row;
        gap: 2em;
        width: auto;
    }
    .nav_icones{
        border: none;
        padding: .3em;
    }
    .nav_icones:hover{
        background-color: black;
        border-bottom: 1px solid  #b22d30;
    }
    .link_nav{
        padding: 0;
    }
}
.container1_banner_txts_btn_geral{
    width: 100%;
    height:90vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.container1_img{
    filter: brightness(50%);
    overflow: hidden;
}
.container1_banner_principal{
    width: 100%;
    height: 90vh;
}
.container1_txts_btn{
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: absolute;
    top: 13em;
    z-index: 1;
    max-width: 75%;
    text-align: center;
    padding: 1em;
    overflow: hidden;
}
.container1_txt1{
    color: var(--secundary-color);
    font-size: 2.5em;
    letter-spacing: .1em;
}
.container1_txt2{
    color: white;
    font-size: 3em;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: .1em;
}
.container1_txt3{
    font-size: 1.6em;
    color: white;
}
.container1_btn{
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    padding: .5em;
    background-color: var(--secundary-color);
    width: 180px;
    margin: auto;
    border-radius: 1em;
    box-shadow: 3px 3px 4px white;
}
.container1_btn:hover{
    scale: 1.03;
}
@media screen and (min-width:90.6em){
    .container1_txts_btn{
        max-width: 40%;
    }
}
.container2_txts_img_geral{
    width: 100%;
    padding: 7em 3em;
    display: flex;
    flex-direction: column;
    gap: 4em;
    background-color: var(--primary-color);
    z-index: 1;
}
.container2_txts_geral{
    padding: 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.container2_txt1{
    color: white;
    font-size: 2.3em;
}
.container2_txt2{
    color: var(--secundary-color);
    font-size: 1.9em;
}
.container2_txt3{
    color: white;
    font-size: 1.3em;
}
.container2_img,  .container2_img{
    display: block;
    max-width: 90vw;
    max-height: 70vh;
    margin: auto;
    box-shadow: 3px 3px 8px white;
}
@media screen and (min-width:75em){
   .container2_txts_img_geral{
    flex-direction: row;
    gap: 2em;
   }
   .container2_txts_geral{
    width: 50%;
    text-align: start;
   }
    
}
@media screen and (min-width:100em){
    .container2_txts_img_geral{
        padding: 7em 10em;
    }
     
 }
 .container3_txts_imagens_geral{
    padding: 5em 2em;
    display: flex;
    flex-direction: column;
    gap: 3em;
    width: 100%;
    background-color: black;
 }
 .container3_txt{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: .5em;
    text-align: center;
 }
 .container3_txt1{
    font-size: 1.8em;
    color: var(--secundary-color);
 }
 .container3_txt2{
    color: white;
    font-size: 2.5em;
 }
 .container3_imagens_geral{
    display: grid;
    gap: 2em;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 350px);
 }
 .container3_img{
    cursor: pointer;
    filter: brightness(70%);
    box-shadow: 3px 3px 7px white;
 }
 .container3_img:hover{
    scale: 1.03;
 }
 @media screen and (min-width:53.12em){
    .container3_imagens_geral{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 350px);
    }
     
 }
 @media screen and (min-width:100em){
    .container3_imagens_geral{
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 350px);
    }
     
 }
 .container4_cards_geral{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3em;
    background-color: var(--primary-color);
    padding: 7em 2em;
 }
 .container4_txts_geral{
    padding: .5em;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
 }
 .container4_txt1{
    color: var(--secundary-color);
    font-size: 1.7em;
 }
 .container4_txt2{
    color: white;
    font-size: 2.2em;
 }
 .container4_cards_txt_geral{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    
 }
 .container4_card{
    padding: 1.5em;
    max-width: 350px;
    height: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
    cursor: pointer;
    background-color: black;
    border-radius: 2em;
    transition-property: all;
    transition-duration: 2s;
    box-shadow: 5px 5px 8px white;
}

 .container4_card:hover{
    background-color: var(--secundary-color);
    transform: rotateY(360deg);
 }
 .card2:hover{
    transform: rotateX(360deg);
}
 .card2{
    box-shadow: -5px -5px 8px white;
 }
 .container4_img{
    max-width: 100%;
    max-height: 60%;
    border-radius: 2em;
 }
 .container4_card_txt1{
    font-size: 2em;
    text-align: center;
    color: white;
 }
 .container4_card_txt2{
    font-size: 1.5em;
    text-align: center;
    color: white;
 }
 
 @media screen and (min-width:100em){
    .container4_cards_txt_geral{
        width: 80%;
        margin: auto;
    }
 } 
 @media screen and (min-width:115em){
    .container4_cards_txt_geral{
        width: 70%;
        margin: auto;
    }
 }
 .container5_informacao_contato_geral{
    padding: 5em 2em;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 150px);
    gap: 1em;
    background-color: black;
 }
 .container5_informacao{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    box-sizing: border-box;
}
 .container5_txt1_informacao{
    color: #b22d30;
    text-align: center;
    font-size: 1.8em;
 }
 .container5_txt2_informacao{
    color: white;
    text-align: center;
    font-size: 1.5em;
 }
 @media screen and (min-width:62.5em){
    .container5_informacao_contato_geral{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(1, 150px);
    }
 } 
 @media screen and (min-width:87.5em){
    .container5_informacao_contato_geral{
    width: 70%;
    margin: auto;
    }
 } 
 .container6_txt_simbol{
    background-color:  #b22d30;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5em;
    padding: 2em;
 }
 .container6_txt{
    font-size: 2em;
    color: white;
 }
 .container6_simbol{
    max-height: 10vh;
    max-width: 7vw;
 }
 footer{
    padding: 2em;
 }





